@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap');
:root {
  --primary-color: rgb(17, 86, 102);
  --primary-color-darker: rgb(9, 48, 56);
}

* {
  box-sizing: border-box;
  outline: 0;
}

body {
  margin: 0;
  padding: 0;
  background: var(--primary-color);
  font-family: 'Open sans', sans-serif;
  font-size: 1.3em;
  line-height: 1.5em;
}

.container {
  max-width: 640px;
  margin: 50px auto;
  background: #fff;
  padding: 20px;
  border-radius: 10px;
}

.relogio {
  font-size: 3em;
}

.pausado {
  color: red;
}

h1,p {
  text-align: center;
}

article {
  display: flex;
}

button {
  flex-grow: 1;
  border: none;
  margin: 10px;
  padding: 15px;
}

.iniciar {
  background-color: greenyellow;
  border-radius: 15px;
  font-size: 0.8em;
  font-weight: bold;
}

.iniciar:hover {
  color: #fff;
  background-color: green;
  border-radius: 15px;
  font-size: 0.8em;
  font-weight: bold;
}

.pausar {
  background-color: red;
  border-radius: 15px;
  font-size: 0.8em;
  font-weight: bold;
}

.pausar:hover {
  color: #fff;
  background-color: rgb(177, 0, 0);
  border-radius: 15px;
  font-size: 0.8em;
  font-weight: bold;
}

.zerar {
  background-color: gray;
  border-radius: 15px;
  font-size: 0.8em;
  font-weight: bold;
}

.zerar:hover {
  color: #fff;
  background-color: rgb(48, 48, 48);
  border-radius: 15px;
  font-size: 0.8em;
  font-weight: bold;
}